h1
{
    background: red;
}

.par-1
{
    color: orange;
    font-family: Arial;
    font-weight: bold;
}

.par-2
{
    font-size: 25;
    border: 5px solid yellow;
    border-radius: 25px
    margin-bottom: 60 px
    padding-left: 20 px;
}